openapi: 3.2.0
info:
  title: IKEA Product Catalog Categories API
  summary: Unofficial API for fetching IKEA categories and navigation data
  description: This is an **unofficial** OpenAPI specification for the IKEA Product Catalog API.
  version: 0.1.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    name: Unofficial IKEA OpenAPI Maintainer
    url: https://github.com/idelsink/ikea-openapi
servers:
- url: https://www.ikea.com/{country}/{language}
  description: IKEA main website
  variables:
    country:
      default: gb
      description: Country code (e.g., de, gb, fr, us)
    language:
      default: en
      description: Language code (e.g., en, de, fr)
tags:
- name: Categories
  description: Everything about Categories
paths:
  /meta-data/navigation/catalog-products-slim.json:
    get:
      summary: IKEA Get Categories and Subcategories
      description: Returns the complete category hierarchy including all main categories and their nested subcategories
      operationId: getCategories
      tags:
      - Categories
      responses:
        '200':
          description: Successful response with category tree
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
              examples:
                GetCategories200Example:
                  summary: Default getCategories 200 response
                  value:
                  - id: st001
                    name: Storage furniture
                    url: /gb/en/cat/storage-furniture-st001/
                    im: https://www.ikea.com/images/4e/83/4e83f2c50f6d1cf0e3d90e78662de08b.png?f=sg
                    subs:
                    - id: example
                      name: Storage furniture
                      url: /gb/en/cat/storage-furniture-st001/
                      im: https://www.ikea.com/images/4e/83/4e83f2c50f6d1cf0e3d90e78662de08b.png?f=sg
                      subs:
                      - example
                  x-microcks-default: true
        '404':
          description: Categories not found
        '500':
          description: Server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    categoryId:
      type: string
      description: Category identifier (UUID, code like 'st001', or numeric ID)
      example: st001
      examples:
      - st001
      - 4a552556-db67-4fab-afb0-11433eda6784
    Category:
      type: object
      description: Category details
      required:
      - id
      - name
      - url
      properties:
        id:
          $ref: '#/components/schemas/categoryId'
        name:
          type: string
          description: Category display name
          example: Storage furniture
        url:
          type: string
          format: iri-reference
          description: Relative path to the category
          example: /gb/en/cat/storage-furniture-st001/
        im:
          type: string
          format: uri
          description: Category image URL
          example: https://www.ikea.com/images/4e/83/4e83f2c50f6d1cf0e3d90e78662de08b.png?f=sg
        subs:
          type: array
          description: 'Array of Category objects (recursive).

            Each subcategory has the same structure as this schema.

            Maximum depth observed: 4 levels.

            '
          items:
            $ref: '#/components/schemas/Category'
